<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssath.map.model.dao.BookmarkDao">

	<!-- 북마크 -->
	<insert id="createBookmark" parameterType="String">
		INSERT INTO BOOKMARK VALUES(${mapId},#{userId},true)
	</insert>
	
	<!-- 코스 별 좋아요 출력  -->
	<select id="selectBookmarks" resultType="int" parameterType="int">
		SELECT COUNT(*) CNT 
		FROM BOOKMARK
		WHERE map_id = ${mapId} AND marked = true
	</select>
	
	<!-- 좋아요 업데이트 -->
	<update id="updateBookmark" parameterType="Bookmark">
		UPDATE BOOKMARK
		SET marked = NOT marked
		WHERE map_id = ${mapId} AND user_id = #{userId}
	</update>
	
	<!-- 좋아요 생성 여부 확인 -->
	<select id="existsBookmark" resultType="int" parameterType="String">
		SELECT COUNT(*) CNT
		FROM BOOKMARK
		WHERE map_id = #{mapId} AND user_id = #{userId}
	</select>
	
	<!-- 좋아요 여부 확인 -->
	<select id="selectBookmark" resultType="int" parameterType="String">
		SELECT marked
		FROM BOOKMARK
		WHERE map_id = ${mapId} AND user_id = #{userId}
		GROUP BY map_id, user_id
	</select>
	
</mapper>