@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("../assets/font/LINE_SeedKR_2023.09.06/Web/woff/LINESeedKR-Bd.woff")
    format("woff");
}

@font-face {
  font-family: "LINESeedKR-Rg";
  src: url("../assets/font/LINE_SeedKR_2023.09.06/Web/woff/LINESeedKR-Rg.woff")
    format("woff");
}

@font-face {
  font-family: "LINESeedKR-Th";
  src: url("../assets/font/LINE_SeedKR_2023.09.06/Web/woff/LINESeedKR-Th.woff")
    format("woff");
}

* {
  font-family: "LINESeedKR-Rg";
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration-line: none;
}
